@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
$color-main: rgb(73, 92, 186);
$color-boder: #ced4da;
$color-white: #ffffff;
$color-tranfer: rgba(0, 0, 0, 0.2);
$color-tranfer1:rgb(0 0 0 / 11%);
/*font style*/

$font-main: "Open Sans", sans-serif;
$font-main1: "Poppins", sans-serif;
$fw-4: 400;
$fw-3: 300;
$fw-5: 500;
$fw-6: 600;
$fwi-6: 600;
$fwi-4: 400;
$fwi-3: 300;
$fwi-5: 500;
$fwi-6: 600;
